
body{
    background-color: #EDEDEE;
    background-image: url("hd-black-wallpaper.jpg");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
html{
    font-size: 100%;
}

body, html{
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 0.8em;
    line-height: 1.25;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #000;
}
div#global{
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    background-image: none;
    background-color: #FFF;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

div#centre{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
div#entete{
    width: 1000px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: block;
    float: none;
    background-color: #FFF;
    z-index: 2;
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: #1A6177;
}
.logo_header{
    float: left;
    clear: none;
    margin: 15px 20px;
}
a img{
    border: medium none;
}
img {
    margin: 0px;
    padding: 0px;
}

div.rotator {
    position: relative;
    height: 160px;
    margin-top: 0px;
    display: block;
    width: 660px;
    overflow: hidden;
    padding: 0px;
    clear: none;
}

div.rotator ul, div.rotator2 ul {
    margin: 0px;
    text-indent: 0px;
    padding: 0px;
}
div.rotator ul li, div.rotator2 ul li {
    float: left;
    position: absolute;
}
ul {
    list-style: outside none square;
}
ul, ol {
    margin: 0.75em 0px 0.75em 24px;
    padding: 0px;
}

élément {
    opacity: 0;
}
div.rotator ul li, div.rotator2 ul li {
    float: left;
    position: absolute;
}
li {
    margin: 0px;
    padding: 0px;
}

div.rotator ul li img, div.rotator2 ul li img {
    margin: 0px;
    padding: 0px;
}

#navigation {
    padding: 10px;
    background-color: #EDEDEE;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}
.solidblockmenu ul a:nth-child(n) {
    border-right: 1px dotted #AAABAD;
}
.solidblockmenu li a, .solidblockmenu li a:visited {
    float: left;
    color: #AAABAD;
    text-decoration: none;
    padding: 5px 10px;
}

.solidblockmenu ul {
    margin: 0px;
    padding: 0px;
    font: 12px Verdana,"Bitstream Vera Sans","Lucida Grande",sans-serif;
    width: 100%;
    overflow: hidden;
}
ul {
    list-style: outside none square;
}
ul, ol {
    margin: 0.75em 0px 0.75em 24px;
    padding: 0px;
}
.solidblockmenu li {
    display: inline;
}
li {
    margin: 0px;
    padding: 0px;
}
#navigation {
    padding: 10px;
    background-color: #EDEDEE;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

div#ddtopmenubar {
    padding: 0px;
}

div#secondaire {
    width: 270px;
    float: left;
    text-align: center;
    overflow: hidden;
}
#principal {
    width: 720px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
div#pied {
    width: 1000px;
    overflow: hidden;
    clear: both;
    margin-top: 20px;
    color: #FFF;
    border-top: 1px dotted #CDCDCE;
}