{% extends "AresSiteBundle::layout.html.twig" %}


{% block title %}

    Accueil - {{ parent() }}

{% endblock %}


{% block aresHome_body %}


    <h2>En Construction ...</h2>


    <ul>


    </ul>


{% endblock %}